<main class="main">
    <section class="first_index">
        <div class="background">
            <div class="right-side"></div>
            <div class="retrobar_all">
                <div class="retrobar_logo">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h1-slider-img-1.png" alt="">
                </div>
                <div class="retrobar_name">
                    <h1>COFFEE FACTORY</h1>
                </div>
                <div class="divider">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/slider-separator-img.png" alt="">
                </div>
                <div class="retrobar_text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum libero vero pariatur, eveniet, omnis, impedit inventore odio.</p>
                </div>
                <div class="retrobar_button">
                    <a href="">SHOP HERE</a>
                </div>
            </div>
            <i class="fa-solid fa-chevron-left arrow-left"></i>
            <i class="fa-solid fa-chevron-right arrow-right"></i>
            <i class="fa-solid fa-cart-shopping trolley"></i>
            <i class="fa-solid fa-circle-notch circle"></i>
        </div>
    </section>
    <section class="second_index">
        <div class="top">
            <div class="top-header">
                <h1>OUR DELICIOUS OFFER</h1>
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/title-separator.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus eos eaque magnam! Tempore  possimus voluptatem iste.</p>
            </div>
        <div class="bottom">
            <div class="box">
                <div class="images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h2-custom-icon-5.png" alt="">
                </div>
                <div class="images-text">
                    <h1>TYPES OF COFFEE</h1>
                    <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
                </div>
            </div>
            <div class="box">
                <div class="images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h2-custom-icon-6.png" alt="">
                </div>
                <div class="images-text">
                    <h1>BEAN VARITIES</h1>
                    <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
                </div>
            </div>
            <div class="box">
                <div class="images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h2-custom-icon-7.png" alt="">
                </div>
                <div class="images-text">
                    <h1>COFFEE & PASTRY</h1>
                    <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
                </div>
            </div>
            <div class="box">
                <div class="images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h2-custom-icon-8.png" alt="">
                </div>
                <div class="images-text">
                    <h1>COFFEE TO GO</h1>
                    <p>Lorem ipsum dolor sit ametal, consectetuer adipiscing elitus. Aeneantos commodo</p>
                </div>
            </div>
        </div>    

        </div>
    </section>
    <section class="third_index">
        <div class="third_top">
            <h1>THE COFFEE HERALD</h1>
            <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/title-separator.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="third_bottom">
            <div class="third_box">
                <div class="bottom_img">
                    <a itemprop="url" href="https://corretto.qodeinteractive.com/prep-techniques/" title="Prep Techniques">
                        <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/blog-1-img-1.jpg" alt="">
                    </a>
                </div>
                <div class="bottom_text">
                    <a href="">
                       <h5>PREP TECHNIQUES</h5>
                    </a>
                    <p>Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi, nam eget dui. Etiam rhoncus maecenas tempus</p>
                    <span class="span">READ MORE</span>
                </div>
            </div>
            <div class="third_box">
                <div class="bottom_img">
                    <a itemprop="url" href="https://corretto.qodeinteractive.com/french-press/" title="French Press">
                        <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/blog-1-img-2.jpg" alt="">
                    </a>
                </div>
                <div class="bottom_text">
                    <a href="">
                       <h5>FRENCH PRESS</h5>
                    </a>
                    <p>Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi, nam eget dui. Etiam rhoncus maecenas tempus</p>
                    <span class="span">READ MORE</span>
                </div>
            </div>
            <div class="third_box">
                <div class="bottom_img">
                    <a itemprop="url" href="https://corretto.qodeinteractive.com/turkish-ibrik/" title="Turkish Ibrik">
                        <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/blog-1-img-3.jpg" alt="">
                    </a>
                </div>
                <div class="bottom_text">
                    <a href="">
                       <h5>TURKISH IBRIK</h5>
                    </a>
                    <p>Quisque rutrum, aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi, nam eget dui. Etiam rhoncus maecenas tempus</p>
                    <span class="span">READ MORE</span>
                </div>
            </div>
        </div>
    </section>
    <section class="fourth_index">
        <div class="fourth_img">
            <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/h1-single-img-1-250x226.png" alt="">
        </div>
    </section>
    <section class="fifth_index">
        <div class="fifth_box">
            <span>250</span>
            <h3>VARIETIES OF COFFEE</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean</p>
        </div>
        <div class="fifth_box">
            <span>123</span>
            <h3>HOURS OF TESTING</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean</p>
        </div>
        <div class="fifth_box">
            <span>321</span>
            <h3>COFFEE MARKETS</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean</p>
        </div>
        <div class="fifth_box">
            <span>220</span>
            <h3>COFFEE BRANDS</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit aenean</p>
        </div>
    </section>
    <section class="sixth_index">
        <div class="sixth_top">
            <h2>ONLINE COFFEE SHOP</h2>
            <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/title-separator.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="sixth_bottom">
            <div class="sixth_box">
                <div class="sixth_images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/product-img-1.png" alt="">
                    <div class="add_button">
                        <a href="">Add to cart</a>
                    </div>
                </div>
                <div class="sixth_bottom_text">
                    <h3>ETHIOPIA COFFEE</h3>
                    <span>$ 15.00</span>
                </div>
            </div>
            <div class="sixth_box">
                <div class="sixth_images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/product-img-3.png" alt="">
                    <div class="add_button">
                        <a href="">Add to cart</a>
                    </div>
                </div>
                <div class="sixth_bottom_text">
                    <h3>KENYA COFFEE</h3>
                    <span>$ 18.00</span>
                </div>
            </div>
            <div class="sixth_box">
                <div class="sixth_images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/product-img-5.png" alt="">
                    <div class="add_button">
                        <a href="">Add to cart</a>
                    </div>
                </div>
                <div class="sixth_bottom_text">
                    <h3>COLUMBIA COFFEE</h3>
                    <span>$ 21.00</span>
                </div>
            </div>
            <div class="sixth_box">
                <div class="sixth_images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/product-img-8.png" alt="">
                    <div class="add_button">
                        <a href="">Add to cart</a>
                    </div>
                </div>
                <div class="sixth_bottom_text">
                    <h3>GUATEMALA COFFEE</h3>
                    <span>$ 25.00</span>
                </div>
            </div>
        </div>
    </section>
    <section class="seventh_index">
        <div class="seventh-top">
            <h2>OUR SWEET GALLERY</h2>
            <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/title-separator.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="seventh-bottom">
            <div class="box1">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/port-1-img-1.jpg" alt="">
                <div class="img-text">
                    <h3>PERFECT CUP</h3>
                    <p>Cup of Coffee / Filtered</p>
                </div>
            </div>
            <div class="box1">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/port-1-img-2.jpg" alt="">
                <div class="img-text">
                    <h3>BREWED</h3>
                    <p>Cup of Coffee / Filtered</p>
                </div>
            </div>
            <div class="box1">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/port-1-img-3.jpg" alt="">
                <div class="img-text">
                    <h3>COFFEE DRIPS</h3>
                    <p>Cup of Coffee / Filtered</p>
                </div>
            </div>
            <div class="box1">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/port-1-img-7.jpg" alt="">
                <div class="img-text">
                    <h3>BAKED BEANS</h3>
                    <p>Cup of Coffee / Filtered</p>
                </div>
            </div>
            <div class="box1">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/port-1-img-5.jpg" alt="">
                <div class="img-text">
                    <h3>BEST AROMAS</h3>
                    <p>Cup of Coffee / Filtered</p>
                </div>
            </div>
            <div class="box1">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/port-1-img-6.jpg" alt="">
                <div class="img-text">
                    <h3>CREAMS</h3>
                    <p>Cup of Coffee / Filtered</p>
                </div>
            </div>
            <div class="box1">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/port-1-img-4.jpg" alt="">
                <div class="img-text">
                    <h3>ENJOYMENT</h3>
                    <p>Cup of Coffee / Filtered</p>
                </div>
            </div>
            <div class="box1">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/port-1-img-8.jpg" alt="">
                <div class="img-text">
                    <h3>BIG MUGS</h3>
                    <p>Cup of Coffee / Filtered</p>
                </div>
            </div>
        </div>
    </section>
    <section class="eight_index">
        <div class="partners">
            <div class="logos">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/clients-img-3.png" alt="">
            </div>
            <div class="logos">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/clients-img-4.png" alt="">
            </div>
            <div class="logos">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/clients-img-5.png" alt="">
            </div>
            <div class="logos">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/clients-img-6.png" alt="">
            </div>
            <div class="logos">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/clients-img-1-1.png" alt="">
            </div>
            <div class="logos">
                <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/clients-img-2.png" alt="">
            </div>
        </div>
    </section>
    <section class="nineth_index">
        <div class="nineth-background">
            <h3>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO</h3>
            <a href="">CONTACT US</a>
        </div>
    </section>
    <section class="tenth_index">
        <div class="tenth-background">
            <div class="tenth-text">
                <div class="tenth-logo">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/logo-footer-sidearea.png" alt="">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,nostrud exercitation ullamco laboris.”</p>
                </div>
                <div class="tenth-middle">
                    <h3>STORES</h3>
                    <p>Dunsmuir Ave, Los Angeles, CA 90036, USA</p>
                    <p class="tenth-middle-p">Atkins Ave, Brooklyn, NY 11208, USA</p>
                </div>
                <div class="tenth-bottom">
                    <h3>NEWS AS FRESH AS OUR COFFEE</h3>
                    <div class="tenth-envelope">
                        <div class="tenth-envelope-right">
                            <input type="email" placeholder="Your E-mail Adress...">
                        </div>
                        <div class="tenth-envelope-left">
                            <i class="fa-regular fa-envelope envelope"></i>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>