<section class="sixth_index">
        <div class="sixth_top">
            <h2>ONLINE COFFEE SHOP</h2>
            <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/title-separator.png" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="sixth_bottom">
            <a href="/onlinecoffeshop/details/1">
            <div class="sixth_box">
                <div class="sixth_images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/product-img-1.png" alt="">
                    <div class="add_button">
                        <a href="/onlinecoffeshop/details/1">Add to cart</a>
                    </div>
                </div>
                <div class="sixth_bottom_text">
                    <h3>ETHIOPIA COFFEE</h3>
                    <span>$ 15.00</span>
                </div>
            </div>
            </a>
            <a href="/onlinecoffeshop/details/2">
            <div class="sixth_box">
                <div class="sixth_images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/product-img-3.png" alt="">
                    <div class="add_button">
                        <a href="/onlinecoffeshop/details/2">Add to cart</a>
                    </div>
                </div>
                <div class="sixth_bottom_text">
                    <h3>KENYA COFFEE</h3>
                    <span>$ 18.00</span>
                </div>
            </div>
            </a>
            <a href="/onlinecoffeshop/details/3">
            <div class="sixth_box">
                <div class="sixth_images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/product-img-5.png" alt="">
                    <div class="add_button">
                        <a href="/onlinecoffeshop/details/3">Add to cart</a>
                    </div>
                </div>
                <div class="sixth_bottom_text">
                    <h3>COLUMBIA COFFEE</h3>
                    <span>$ 21.00</span>
                </div>
            </div>
            </a>
            <a href="/onlinecoffeshop/details/4">
            <div class="sixth_box">
                <div class="sixth_images">
                    <img src="https://corretto.qodeinteractive.com/wp-content/uploads/2018/04/product-img-8.png" alt="">
                    <div class="add_button">
                        <a href="/onlinecoffeshop/details/4">Add to cart</a>
                    </div>
                </div>
                <div class="sixth_bottom_text">
                    <h3>GUATEMALA COFFEE</h3>
                    <span>$ 25.00</span>
                </div>
            </div>
            </a>
        </div>
    </section>