<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corretto - A Modern Theme for Coffee</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="logo">
                <a href="/home/index">
                    <img src="https://corretto.qodeinteractive.com/wp-content/themes/corretto/assets/img/logo-light.png" alt="">
                </a>
            </div>
            <nav>
                <a class="home" href="/home/index">HOME</a>
                <a class="home_a" href="">PAGES</a>
                <a class="home_a" href="/onlinecoffeshop/index">ONLINE COFFEE SHOP</a>
                <a class="home_a" href="">BLOG</a>
                <a class="home_a" href="">PORTFOLIO</a>
                <a class="home_a" href="">ELEMENTS</a>
                <i class="fa-solid fa-cart-shopping">
                    <span class="number">0</span>
                </i>
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-bars"></i>
            </nav>
        </div>

    </header>
        @RenderBody()
    <footer>
        <div class="footer">
            <div class="footer-left">
                <p>© 2018 Qode Interactive, All Rights Reserved</p>
            </div>
            <nav>
                <a href="">HOME</a>
                <a href="">ABOUT</a>
                <a href="">SHOP</a>
                <a href="">CONTACT</a>
            </nav>
            <div class="footer-icons">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-tumblr"></i>
                <i class="fa-brands fa-vimeo-v"></i>
            </div>
        </div>
    </footer>
</body>
</html>
